version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/packages/sdk"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "sdk"
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "npm"
    directory: "/packages/cli"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "cli"
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore(ci)"
